@import url('reset.css');

.clear{
    clear:both;
}
.wrapper{
	width: 100%;
	height: auto;
}
.frame{
	width: 1000px;
	height: auto;
	margin:0px auto;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
body{
	background: #dedede;
}
li,  p, span, h2, h3, label{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color:#252424;
}
a, p, span{
	font-family: Verdana;
}
span{
	color: #787878;
}
h2{
	font-size: 34px;
}
section{
	height: auto;
}
hr{
	height:0px;
	display: block;	
	border:none;
	border-top: 1px solid #bfbfbf;
	border-bottom:1px solid #FFF;
	float: right;
	position: relative;
	top:-17px;
}
.bg-red{
	background: #ff0000 !important;
}
.bg-green{
	background: #5fcd1d !important;
}
.bg-blue{
	background: #38d9f6 !important;
}
.bg-white{
	background: #FFF !important;
}
.bg-black{
	background: #000 !important;
}

/**
 * menu top
 **/
ul.nav li{	
	width: 140px;
	height: 50px;
	line-height: 50px;
	float: left;
	overflow: hidden;
	margin-left: 55px;
}
ul.nav li a{
	padding: 25px 70px;
}
ul.nav li:nth-child(1){
	width: 130px;
	margin-left: 0px;
	background: url('../images/list-menu.png') 0px 50px;
}
ul.nav li:nth-child(2){
	width: 118px;
	background: url('../images/list-menu.png') -142px 50px;
}
ul.nav li:nth-child(3){
	width: 190px;
	background: url('../images/list-menu.png') -270px 50px;
}
ul.nav li:nth-child(4){
	width: 168px;
	background: url('../images/list-menu.png') -470px 50px;
}
ul.nav li:nth-child(5){
	width: 105px;
	background: url('../images/list-menu.png') -644px 50px;
}
.menu-top{
	height: 60px;
	background: #3cac31;
}
.menu-top .nav{
	height: 60px;
}
.menu-top .nav li{
	height: 60px;
	line-height: 60px;
	margin: 0px;
	text-align: center;
	background-image:none !important;
	padding: 0px 20px;
}

.menu-top ul li:nth-child(1){
	width: 130px;
	background:#4eb844;
}
.menu-top ul li:nth-child(2){
	width: 118px;
	background:#ff1200;
}
.menu-top ul li:nth-child(3){
	width: 200px;
	background:#cb6bdc;
}
.menu-top ul li:nth-child(4){
	width: 180px;
	background:#823010;
}
.menu-top ul li:nth-child(5){
	background:#00c0ff;
	width: 160px;
}

.menu-top ul li.on,
.menu-top ul li:hover{
	background:#FFF;
}
.menu-top ul li:nth-child(1):hover a{
	background: url('../images/list-menu.png') 0px 13px;
}
.menu-top ul li:nth-child(2):hover a{
	background: url('../images/list-menu.png') -130px 10px;
}
.menu-top ul li:nth-child(3):hover a{
	background: url('../images/list-menu.png') -270px 9px;
}
.menu-top ul li:nth-child(4):hover a{
	background: url('../images/list-menu.png') -470px 9px;
}
.menu-top ul li:nth-child(5):hover a{
	background: url('../images/list-menu.png') -644px 8px;
}

.menu-top ul li:nth-child(1) a.on{
	background: url('../images/list-menu.png') 0px 13px;
}

.menu-top ul li:nth-child(1) a{
	width: 130px;
	margin-left: 0px;
	background: url('../images/list-menu.png') 0px 60px;
}
.menu-top ul li:nth-child(2) a{
	width: 100px;
	background: url('../images/list-menu.png') -130px 56px;
}
.menu-top ul li:nth-child(3) a{
	padding-right: 120px;
	background: url('../images/list-menu.png') -270px 56px;
}
.menu-top ul li:nth-child(4) a{
	padding-right: 100px;
	background: url('../images/list-menu.png') -470px 56px;
}
.menu-top ul li:nth-child(5) a{
	padding-right: 30px;
	background: url('../images/list-menu.png') -644px 56px;
}


.search-top{
	height: 140px;
	background: #FFF;
}
.logo-top{
	width: 200px;
	height: 100px;
	padding: 40px 120px 0px 0px;
	text-align: center;
	float: left;
}
.logo-top span{
	font-size: 12px;
}
.search-main{
	width: 420px;
	height: 100px;
	padding-top: 40px;
	float: left;
	text-align: center;
}
.search-main input[type="text"]{
	width: 348px;
	height: 31px;
	padding-left: 10px;
	border: 1px solid #c2c2c2;
	border-radius: 3px;
	float: left;
	background: #FFF;
}
.search-main input[type="submit"]{
	border: none;
	width: 45px;
	height: 35px;
	float: left;
	position: relative;
	left: -10px;
	cursor: pointer;
	background: url('../images/icon-search.png') no-repeat;
}
.search-main ul {
	margin-top: 15px;
}
.search-main ul li{
	float: left;
	padding: 0px 10px;
	border-right: 1px solid #000;
}
.search-main ul li:last-child{
	padding-right: 0px;
	border: none;
}

/**
 * Dang ky dang nhap cart
 **/
ul.register{
	width: 225px;
	height: 90px;
	padding-top: 50px;
	float: right;
}
ul.register li{
	float: left;
	padding-left: 15px;
	line-height: 30px;
}
ul.register li a{
	font-size: 16px;
}
.menu-main{
	height: auto;
	overflow: hidden;
	position: relative;
	background: linear-gradient(#FFF, #dedede);
	background: -webkit-linear-gradient(#FFF, #dedede);
    	background: -moz-linear-gradient(#FFF, #dedede);
    	background: -o-linear-gradient(#FFF, #dedede);
}
.menu-main-nav{
	width: 220px;
	height: 400px;
	float: left;
	background: linear-gradient(#dedede, #FFF);
	background: -webkit-linear-gradient(#dedede, #FFF);
    	background: -moz-linear-gradient(#dedede, #FFF);
    	background: -o-linear-gradient(#dedede, #FFF);
}
ul.menu-main-nav-title{
	height: 40px;
	background: #000;
}
ul.menu-main-nav-title li{
	line-height: 40px;
	float: left;
	margin-left: 15px;
}
ul.menu-main-nav-title li img{
	position: relative;
	top:2px;
}
ul.menu-main-nav-title li h2{
	color: #FFF;
	font-size: 20px;
}
ul.menu-main-nav-content li{
	height: 50px;
	line-height: 50px;
	padding-left: 40px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #bfbfbf;
	overflow: hidden;
	background: url('../images/img-li-style.png') no-repeat 20px 22px !important ;
}
ul.menu-main-nav-content li:first-child{
	border-top: none;
}
ul.menu-main-nav-content li:last-child{
	border-bottom: none;
}
ul.menu-main-nav-content li a{
	height: 50px;
	font-weight: 600;
	font-size: 13px;
	padding: 10px 50px 10px 0px;
}
ul.menu-main-nav-content li a:hover{
	color:#000;
}
.menu-main-slider{
	width: 558px;
	height: 399px;
	float: left;
	border: 1px solid #d0d0d0;
	background: #FFF;
}
.slide-main-title{
	margin: 0px auto;
      line-height: 70px;
      color: #FFF !important;
      font-size: 18px;
      font-weight: bold;
}

.menu-main-ads{
	width: 219px;
	height: 399px;
	float: right;
	border: 1px solid #c3c3c3;
	border-left: none;
	overflow: hidden;
}
.menu-main-ads a{
	width: 219px;
	height: 133px !important;
	float: left;
	border-top: 1px solid #c3c3c3;
	overflow: hidden;
}
.menu-main-ads a:first-child{
	border-top: none;
}
.menu-main-ads a img{
	height: 133px;
	width: 219px;
}
/** quang cao chay theo **/
.ads-list{
	position: absolute;
	z-index: 10000;
}
.fixed-social{
	position: absolute;
	top: -100px;
}
.fixed-ads{
	width: 140px;
	height: 385px;
	top: 0px;
	position: absolute;
}
.fixed-ads img{	
	width: 140px;
	border:1px solid #e4e4e3;
}
.ads-left{
	left: 0px;
}
.ads-right{
	right: 0px;
}


/**
 * san pham moi
 **/
.title-main{
	height: 40px;
	padding:45px 0px 30px 0px;
}
.title-new-prd hr{
	width: 745px;
}
.list-prd-new{
	height: auto;
	overflow: hidden;
}
.prd-item-new{
	width: 182px;
	height: 342px;
	float: left;
	margin:0px 22px 35px 0px;
	overflow:  hidden;
}
.prd-item-new:nth-child(5),
.prd-item-new:nth-child(10),
.prd-item-new:nth-child(15),
.prd-item-new:nth-child(20),
.prd-item-new:nth-child(25),
.prd-item-new:nth-child(30){
	margin-right: 0px;
	margin-left: 2px;
}
.prd-item-new>a{
	width: 182px;
	height: 238px;	
	background: #FFF;
	border: 1px solid #e1e1e1;
	display: block;
	text-align: center;
	overflow:  hidden;
}
.prd-item-new ul{
	width: 182px;
	height: 43px;
}
.prd-item-new ul li {
	width: 129px;
	height: 43px;
	line-height: 42px;
	background: #FFF;
	float: left;
	text-align: center;
	overflow: hidden;
	border-left: 1px solid #e1e1e1;
}
.prd-item-new ul li:last-child {
	width: 51px;
}
.prd-item-new ul li  a{
	width: 51px;
	height: 43px;
	text-align: center;
	display: block;
}

/**
 *  quang cao giua trang
 **/
.ads-main{
	height: 252px;
	background: #FFF;
}
 

/**
 *  san pham ban chay
 **/
.title-hot-prd hr{
	width: 655px;
}
.box-prd-hot{
	height: 492px;
}
.prd-item-hot-slider{
	width: 318px;
	height: 492px;
	background: #FFF;
	float: left;
}
.prd-hot-slide-price{
    padding: 12px 20px 10px 20px;
    text-align: center;
    font-size: 20px;
    font-family: Verdana;
    color: #FFF;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: 1px solid #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #FFF;
    background: #f93500;
    z-index: 3;
}
.fix-bg-hot-slider{
	width: 318px;
	height: 492px;
	position: absolute;
	top: 280px;
	background: url('../images/bg-hot-slider.png') repeat-x;
}


.list-prd-hot{
	width: 670px;
	height: 492px;
	float: right;
	overflow: hidden;
}
.prd-item-hot{
	width: 212px;
	height: 229px;
	background: #FFF;
	float: right;
	margin-left: 15px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.prd-item-hot:nth-child(3),
.prd-item-hot:nth-child(6){
	margin-left: 0px;
}
.prd-item-hot a img{
	/*position: absolute;
	top:0px;
	right: 0px;*/
	float: right;
}
.prd-item-hot>div{	
	z-index:9999;
	position:absolute;
	top:20px;
	left: 10px;
}

/**
 *  san pham giam gia
 **/
.box-prd-sale-off{
	height: 482px;
	position: relative;
}
.title-sale-off hr{
	width: 610px;
}
.list-prd-sale-off{
	height: 370px;
}
.prd-item-sale-off{
	width: 182px;
	height: 282px;
	position: relative;
	float: left;
	margin-right: 22px;
}
.prd-item-sale-off:last-child{
	margin-right: 0px;
	float: right;
}
.prd-item-sale-off>div{
	width: 180px;
	height: 280px;
	border: 1px solid #e1e1e1;
	background: #FFF;
	overflow: hidden;
	text-align: center;
}
.prd-item-sale-off>div a{
}
.prd-item-sale-off>div>div{
	width: 65px;
	height: 65px;
	text-align: center;
	float: right;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.prd-item-sale-off>div>div span{
	padding-top: 10px;
	font-size: 16px;
	display: block;
}


.bg-fix-sale-off{
	height: 122px;
	background: #FFF;
	position: relative;
	top: -122px;
	z-index: -1;
}



/**
 *  huong dan mua hang
 **/
.box-huong-dan{
	height: 530px;
	padding-top: 30px;
	text-align: center;
}
.hd-lien-he{
	width: 450px;
	height: 350px;
	float: left;
	text-align: left;
}
.hd-lien-he h2{
	color: #0866db;
	font-size: 20px;
}
.hd-lien-he p{
	padding-top: 10px;
	height: 70px;
	color: #343434;
	font-size: 14px;
}
.hd-lien-he>a{
	padding:3px 15px;
	background: #838383;
	color: #FFF;
	font-size: 12px;
}
.hd-lien-he ul li{
	width:160px;
	height:50px;
	float: left;
	line-height: 42px;
	position: relative;
}
.hd-lien-he ul li:nth-child(3){
	width: 100px;
}

.hd-lien-he ul li:nth-child(2) img,
.hd-lien-he ul li:nth-child(5) img{
	padding-top: 5px;
}
.hd-lien-he ul li img{
}
.hd-map{
	width: 540px;
	float: right;
}


/**
 *  footer
 **/
.menu-bottom{
	height: 132px;
	padding-top: 35px;
	background: #428de6;
}
.address{
	width: 330px;
	float: left;
}
.address h3{
	font-size: 20px;
	color: #FFF;
	margin-bottom: 14px;
}
.address span{
	line-height: 22px;
}
.menu-bottom .nav{
	width: 560px;
	float: right;
}




.copy-right{
	height: 52px;
	background: #ff6600;
	padding-top: 20px;
}
.copy-right span{
	color: #343434;
}
.copy-right ul{
	float: right;
}

.copy-right ul li{
	float: left;
	margin-right: 85px;
	line-height: 40px;
}
.counter-visit{
	padding: 2px 5px;
	border-radius: 3px;
	background:#FFF;
}

/**
@color-base: #dedede;
@color-des: #787878;
**/

/** common **/
.prd-price{
	color:#ff6600;
}
.prd-cat{
	color: #131413;
}
.prd-name{
	width: 170px;
	height: 16px;
	font-size:14px;
	margin:  15px 0px 0px 10px;
	overflow: hidden;
}
.prd-des{
	font-size: 11px;
	margin-left: 10px; 
	color: #787878;
	height: 28px;
	overflow: hidden;
}

.txt-sale-off{
	color: #dedede;
}
.sale-off-green{
	background: url('../images/icon-sale-off-green.png');
}
.sale-off-blue{
	background: url('../images/icon-sale-off-blue.png');
}
.sale-off-orange{
	background: url('../images/icon-sale-off-orange.png');
}
.sale-off-red{
	background: url('../images/icon-sale-off-red.png');
}

/**
* Trang San Pham
**/
.menu-cate-top{
	height: auto;
}
ul.ul-cate-top{
	height: auto;
	overflow: hidden;
	background: #dedede;
	padding-left: 55px;
}
ul.ul-cate-top li{
	height: 60px;
	min-width: 180px;
	line-height: 60px;
	text-align: left;
	float: left;
}
ul.ul-cate-top li:hover a,
ul.ul-cate-top li.on a{
	color: #3cac31;
	text-decoration: underline;
}
ul.ul-cate-top li a{
	font-weight: 600;
	text-shadow: 1px 1px #FFF;
}

.cate-nav-top img{
	width: 100%;
	border-top: 1px solid #FFF;
}

.cate-nav-filter{
	height: 40px;
	padding: 20px;
	text-align: center;
}
.cate-nav-filter span{
	color: #3f464a;
	font-size: 16px;
}
.cate-nav-filter label span{
	position: relative;
	font-size: 13px;
	left: -45px;
}
.cate-nav-filter input[type="text"]{
	height: 40px;
	width: 210px;
	padding-left: 10px;
	padding-right: 50px;
	border: 1px solid #c2c2c2;
	border-radius: 30px;
}
.cate-nav-filter input[type="submit"]{
	background:#3cac31;
	color: #FFF;
	font-size: 18px;
	border:none;
	padding: 10px 40px;
	border-radius: 30px;
	cursor: hand;
}
.cate-nav-filter input[type="button"]{
	height: 30px;
	line-height: 30px;
	padding:0px 20px;
	color: #a9a9a9;
	background: #FFF;
	border: 1px solid #c2c2c2;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
}

.cate-nav-filter input[type="button"].on{
	color: #2d2d2d;
	text-shadow: 1px 1px #FFF;
	background: -webkit-linear-gradient(#FFF, #c0c0c0);
    	background: -moz-linear-gradient(#FFF, #c0c0c0);
    	background: -o-linear-gradient(#FFF, #c0c0c0);
    	background: linear-gradient(#FFF, #c0c0c0);
	box-shadow: 1px 1px #FFF;
}
.title-cate h2{
	font-size: 24px;
}
.title-cate hr{
	width: 600px;
	float: right;
}
.title-cate span{
	float: right;
	font-size: 12px;
}
.cate-prd-nav{
	width: 100%;
	text-align: center;
	margin-bottom:45px;
}
.cate-prd-nav ul {
	width: 390px;
	overflow: hidden;
	margin: 0px auto;
}
.cate-prd-nav ul li{
	width: 28px;
	height: 26px;
	line-height: 26px;
	float: left;
	border:1px solid #c2c2c2;
	background: #f8f8f8;
	margin: 2px;
}
.cate-prd-nav ul li:first-child,
.cate-prd-nav ul li:last-child{
	background: none !important;
	border:none !important;
	margin:5px 35px;
}
.cate-prd-nav ul li a{
	padding: 9px;
	color: #767676;
}
.cate-prd-nav ul li.on,
.cate-prd-nav ul li:hover{
	background: #3cac31;
	border:1px solid #3cac31;
}
.cate-prd-nav ul li.on a,
.cate-prd-nav ul li:hover a{
	color: #FFF;
}
.slider-danhmuc{

}
.slider-danhmuc-title{
	height: 38px;
	border:1px solid #FFF;
	line-height: 38px;
	background: linear-gradient(#FFF, #ebebeb);
	background: -webkit-linear-gradient(#FFF, #ebebeb);
    	background: -moz-linear-gradient(#FFF, #ebebeb);
    	background: -o-linear-gradient(#FFF, #ebebeb);

}
.slider-danhmuc-title h2{
	font-size:14px;
	font-family: Verdana;
	float: left;
	margin-left: 20px;
}
.slider-danhmuc-title img{
	margin: 10px 10px 0px 0px;
	float: right;
}




/**
 * San Pham Chi Tiet
 **/
.prd-details-page ul{
}
.prd-details-page ul li{
	height: 45px;
	line-height: 25px;
	float: left;
}
ul.nav-prd-detail li a{
	color: #9b9b9b;
	padding: 0px 15px;
	border-right: 1px solid #c3c3c3;
}
.prd-details-page ul li:first-child a{
	padding-left: 0px;
}
.nav-prd-detail .on{
	color: #000;
	border-right: none;
}

.prd-details-page hr{
	width: 100%;
}

.prd-detail-header{
	height: 550px;
	margin-bottom: 35px;
}

img.prd-img-detail-big{
	width: 350px;
	height: 430px;
}
.prd-del-header-right{
	width: 630px;
	float: right;
}
.prd-del-header-right input[type="number"]{
	color: #ff0000;
}
.prd-del-name{
	font-family: Verdana;
	font-size: 18px;
}
.prd-del-header-right hr{
	margin-top:20px;
}
.prd-del-price{
	color: #ff3600;
	font-size: 32px;	
	text-shadow: 2px 1px 1px #FFF;
}
.prd-del-right-price ul{
	float:right;
}
.prd-del-right-price ul li{
	height: 30px;
}
.prd-del-right-price ul li:first-child span{
	border-right:1px solid #353535;
}

.prd-del-right-price ul li span{
	line-height: 40px;
	color: #353535;
	padding:0px 10px;
}
.box-shadow-inset{	
	width: 600px;
	padding: 20px 15px;
	border:1px solid #FFF;
	box-shadow: inset 0px 0px 1px 1px #cacaca;
	background: #FFF;
}
.prd-del-info{
	height: 173px;
	margin-top: 20px;
	padding-top: 15px;
}
.prd-del-info span{
	color:#1d1d1d;
}
.prd-del-info>div>span{
	font-size:13px;
}
ul.prd-color-ul{}
ul.prd-color-ul li{}
ul.prd-color-ul li span{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	display: block;
	border-radius:50%;
	border:1px solid #FFF;
	box-shadow: 0px 0px 3px #e0e0e0;
	cursor:hand;
	background: #ff0000;
}

ul.prd-size-ul{}
ul.prd-size-ul li{}
ul.prd-size-ul li span{
	display: block;
	padding: 0px 10px;
	border: 1px solid #c4c4c4;
	cursor:hand;
	font-size:12px;
	margin-left: 5px;
}

.prd-img-3item{
	width: 350px;
	margin-top: 15px;
	float: left;
}
.prd-img-3item img{
	width: 104px;
	height: 104px;
	margin-right: 19px;
	float: left;
	cursor: hand;
}
.prd-img-3item img:last-child{
	margin:0px;
}
.prd-del-buynow{
	margin-top: 15px;
	height:60px;
	line-height: 60px;
	float: right;
}
.prd-del-buynow ul li{
	width: 190px;
}
.prd-del-buynow ul li:first-child{
	margin-left: 20px;
}
.prd-del-buynow ul li:last-child{
	float: right;
	position: relative;
	top:-8px;
}
.prd-del-buynow ul li:hover{
	opacity: 0.9;
}

/*<!-- list image product-->*/
.prd-detail-image{
	width: 705px;
	padding: 0px 30px;
	padding-top: 35px;
	text-align: center;
	float: left;
	background: #FFF;
}
.prd-detail-image img{
	display: block;
}
.img-col-1-row-1{
	width: 698px;
	height: 508px;
	margin: 0px auto;
	border:1px solid #f1f4f6;
}
.img-col-2-row-1{
	width: 346px;
	height: 511px;
	border:1px solid #f1f4f6;
}
.img-col-2-row-2{
	width: 342px;
	height: 252px;
	border:1px solid #f1f4f6;
}
.prd-detail-image .img-col-2-row-2:last-child{
	margin-top: 10px;
}
.img-grid-4{
	width: 348px;
	height: 210px;
	float: left;
	margin-top: 8px;
}
.prd-detail-sale-off{
	width: 208px;
	padding: 10px;
	float: right;
	padding-top: 30px;
	background: #FFF;
}
.prd-detail-sale-off ul li{
	height: 40px;
	line-height: 12px;
	margin-right: 5px;
}
.prd-detail-sale-off h2{
	font-size: 16px;
}
.prd-del-item-sale{
	width: 208px;
	height: 260px;
	padding-bottom: 20px;
	text-align: center;
}
.prd-del-item-sale>div{
	width:208px;
	height:170px;
	overflow: hidden;
	background: #e6e6e6;
	position: relative;
}
.prd-del-item-sale>div img:nth-child(1){
	position: absolute;
	left: 10px;	
}
.prd-del-item-sale>div img:nth-child(2){
	width: 60px;
	height: 75px;
	position: absolute;
	top:8px;
	right: 8px;
}
.prd-del-item-sale>div img:nth-child(3){
	width: 60px;
	height: 75px;
	position: absolute;
	top:90px;
	right: 8px;
}
.prd-del-item-sale .prd-price{
	line-height: 30px;
}
.prd-del-item-sale .prd-name{
	height: 30px;
	margin-top: 0px;
	line-height: 34px;
}
.prd-del-item-sale .prd-des{
	width: 175px;
}
.prd-detail-bottom{
	width: 675px;
	height: 420px;
	padding: 100px 45px 0px 45px;
	background: #FFF;
	text-align: left;
	position: relative;
}
.prd-detail-bottom img{
	position: absolute;
	right: 50px;
	top:200px;
}
/**
 * San Pham Chi Tiet
 * Huong dan mua hang
 **/
.prd-del-huong-dan{
	margin: 30px auto;
	height: 210px;
}
.prd-del-huong-dan .hd-lien-he{
	height: 210px !important;
}

.prd-del-huong-dan .hd-lien-he:first-child{
	width: 490px;
}
.prd-del-huong-dan hr{
	width: 360px;
	float: right;
}